<div class="modal-container" modal>
</div>
<div class="plugin-container">
  <nav class="directory" [context-menu]="directoryContextMenu">
    <directory [hidden]="false"
               [root]="true"
               [entry]="(editor$ | async).directory">
    </directory>
  </nav>
  <section>
    <nav>
      <ul>
        <li *ngFor="let tab of (editor$ | async).tabs; let i = index;"
            [ngClass]="{'active': i === (editor$ | async).selectedTab}"
            (click)="$event.which == 2 ? removeTab(i) : selectTab(i)"
            [context-menu]="createTabContextMenu(i, tab)">
          {{ getTabName(tab) }}
        </li>
      </ul>
    </nav>
    <article monacoEditor
             [file]="(editor$ | async).activeFile"
             [directory]="(editor$ | async).directory"
             [options]="(editor$ | async).options"
             [theme]="(editor$ | async).theme"
             [saveFileHandler]="saveHandler"
             (update)="updateTabContents($event)"
             (position)="updatePosition($event)"
             *ngIf="!(editor$ | async).hidden">
    </article>
    <article class="empty"
             *ngIf="(editor$ | async).hidden">
      <div class="row">
        <div class="column">
          <div class="logo">IDECOS</div>
          <p *ngIf="(editor$ | async).directory">Open a document to get started</p>
          <p *ngIf="!(editor$ | async).directory"
             (click)="openProject()">Open a project to get started</p>
        </div>
      </div>
    </article>
    <footer (click)="toggleTerminal()" class="clickable">
      <i class="fa fa-chevron-up action" aria-hidden="true"></i>
      <span class="pull-right"
            *ngIf="!(editor$ | async).hidden">
        {{ (editor$ | async).language }}
      </span>
      <span class="pull-left"
            *ngIf="!(editor$ | async).hidden">
        {{ position }}
      </span>
    </footer>
    <footer [ngClass]="{'terminal-active': !terminalHidden}"
            *ngIf="!terminalHidden">
      <i  (click)="toggleTerminal()"
          class="fa fa-chevron-up action clickable"
          aria-hidden="true"></i>
      <span (click)="toggleTerminal()" class="pull-right"
            *ngIf="!(editor$ | async).hidden">
        {{ (editor$ | async).language }}
      </span>
      <span class="pull-left"
            *ngIf="!(editor$ | async).hidden">
        {{ position }}
      </span>
      <terminal [standalone]="false"></terminal>
    </footer>
  </section>
</div>