.plugin-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.modal-container.active {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.link {
  color: #6698b7;
}

.link:hover {
  text-decoration: underline;
}

nav.directory {
  display: flex;
  /*flex: 5;*/
  background-color: #002B36;
  border-right: 1px solid black;
  color: #FDF6E3;
  padding: 10px;
  overflow: auto;
  width: 200px;
}

nav.directory ul {
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  overflow-y: auto;
}

nav.directory ul::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

nav.directory ul li {}

section {
  display: flex;
  flex-direction: column;
  flex: 20;
}

section nav {
  display: flex;
  background-color: #073642;
  color: #8FB09C;
  height: 40px;
  border-bottom: 1px solid black;
}

section nav ul {
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 40px;
}

section nav ul li {
  display: inline;
  flex: 1;
  width: 100px;
  line-height: 40px;
  font-weight: bold;
  overflow: hidden;
  color: #FDF6E3;
  background-color: #073642;
  margin-bottom: -1px;
}

section nav ul .active {
  background-color: #657B83;
  color: #073642;
}

section article {
  flex: 13;
  background-color: #657B83;
}

section .empty {
  flex: 13;
  background-color: #657B83;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #002B36;
}

section .empty .row {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}

section .empty .column {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

section .empty .logo {
  font-size: 24px;
  font-weight: bold;
}

section footer {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #073642;
  border-top: 1px solid black;
  max-height: 25px;
  position: relative;
}

section .clickable {
  cursor: pointer;
}

section .terminal-active {
  min-height: 300px;
  max-height: 300px;
  display: block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: calc(86px + 200px);
  text-align: center;
  overflow: hidden;
}

section .terminal-active terminal {
  position: absolute;
  bottom: 10px;
  right: 0px;
  left: 0px;
  top: 25px;
  height: calc(100% - 10px - 25px);
  width: 100%;
}

footer main.terminal {
  left: 0px !important;
}

section footer i {
  line-height: 25px;
  color: #002B36;
  font-size: 14px;
}

section footer.terminal-active i {
  transform: rotate(180deg);
  text-align: center;
  width: 100%;
}

section footer:hover i.action {
  color: #657B83;
  font-size: 18px;
}

section footer span.pull-right {
  color: #657B83;
  position: absolute;
  font-size: 12px;
  right: 10px;
  top: 5px;
}

section footer span.pull-right i {
  margin-right: 10px;
}

section footer span.pull-left {
  color: #657B83;
  position: absolute;
  font-size: 12px;
  left: 10px;
  top: 5px;
}

section footer span.pull-left i {
  margin-left: 10px;
}