<ul class="fa-ul" *ngIf="entry">
  <li (click)="action()"
      [context-menu]="createContextMenu()">
    <i class="fa-li fa"
       [ngClass]="{
         'fa-folder-open-o': !hidden && entry.isDirectory,
         'fa-folder-open': hidden && entry.isDirectory,
         'fa-file-o': entry.isFile
        }">
    </i>
    {{ entry.name }}
  </li>
  <span *ngIf="!hidden && entry.isDirectory">
    <directory *ngFor="let child of entry.contents"
               [root]="entry"
               [entry]="child">
    </directory>
  </span>
</ul>