main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

nav {
  display: flex;
  flex: 1;
  background-color: #073642;
  justify-content: center;
  border-right: 1px solid black;
}

nav ul {
  list-style: none;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  overflow-y: auto;
}

nav ul::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

nav ul li {
  background-color: #002B36;
  color: #657B83;
  padding: 15px;
  height: 20px;
  width: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 100px;
  text-align: center;
  line-height: 20px;
  font-size: 22px;
  border: 2px solid #657B83;
  cursor: pointer;
}

nav ul li:hover {
  border-color: #268BD2;
  color: #268BD2;
}

nav ul li.active {
  border-color: #268BD2;
  color: #268BD2;
}

nav ul li:nth-last-child(2) {
  margin-bottom: 70px;
}

nav ul.action-bottom {
  margin: 0px;
  margin-top: 30px;
  padding: 0px;
  padding-bottom: 5px;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-color: #073642;
  border-top: 1px solid #002B36;
}

nav ul.action-bottom li.action-bottom {
  border: 2px solid #657B83;
  color: #657B83;
}

nav ul.action-bottom li.action-bottom:hover, nav ul.action-bottom li.action-bottom.active {
  border-color: #268BD2;
  color: #268BD2;
}

section {
  display: flex;
  flex-direction: column;
  flex: 24;
}