<!-- (contextmenu)="disableEvent($event)" -->
<main>
  <nav>
    <ul>
      <li *ngFor="let plugin of pluginService.plugins; let i = index;"
          (click)="pluginService.selectPlugin(i)"
          [ngClass]="{'active': plugin.isSelected}">
        <span *ngIf="plugin.icon"
              [ngClass]="plugin.icon"
              class="fa">
        </span>
      </li>
      <ul class="action-bottom">
        <li class="action-bottom" *ngIf="false"><span class="fa fa-plus"></span></li>
      </ul>
    </ul>
  </nav>
  <section>
    <ng-template plugin-root></ng-template>
  </section>
</main>