<div class="container">
  <div class="logo">IDECOS: Release Notes</div>
  <p>IDECOS V0.0.8 pre-alpha</p>
  <ol>
    <li>Added editor with tabbing and directory tree</li>
    <li>Added Smart detection of content type via file extension for:</li>
    <ol>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>CSS</li>
      <li>Text</li>
      <li>Markdown</li>
      <li>HTML</li>
      <li>Python</li>
      <li>JSON</li>
    </ol>
    <li>Added temp change log page where future documentation module/plugin will be located.</li>
    <li>Added temp loading animation page where future settings/plugin manage page will be located.</li>
    <li>Added keybinding for saving documents (ctrl+s)</li>
    <li>Fixed issue that prevented the editor from saving.</li>
    <li>Fixed saved documents sometimes saves more then it should.</li>
    <li>Fixed srinking and stretching of editor outside of container when resizing window.</li>
    <li>The editor now remembers the last project opened and reopens it.</li>
    <li>Added context menu to editor directory to close project</li>
  </ol>
  <h4>Known Issues</h4>
  <ol>
    <li>Application gets really slow when you have a large project</li>
    <li>Unable to open multiple directories/projects</li>
    <li>Editor does not load in directory files to reference in other documents.</li>
    <li>Unable to create new files/folders within a directory</li>
    <li>Tabs overflow not allowing access to those files when to many are open</li>
  </ol>
  <h4>Tips</h4>
  <ol>
    <li>Open a file by clicking on it in the directory to the left</li>
    <li>Files indicate changes by switching to a solid white file icon, as well as an * in front of the open tab.</li>
    <li>Changes made to a file are preserved even when the tab is closed. You will need to save them before closing or you will lose your work.</li>
    <li>To save a document you must right click the tab (this is temporary and will not be the case after context menus are created)</li>
  </ol>
</div>