main.terminal {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 10px;
}

main.terminal.standalone {
  position: absolute;
  bottom: 20px;
  right: 0px;
  left: 65px;
  top: 0px;
}