<div class="container">
  <nav>
      <ul>
        <li [ngClass]="{'active': settingsPage === 'settings'}"
            (click)="goToPage('settings')">
          <i class="fa fa-sliders" aria-hidden="true"></i>
          <span>{{ i18n.getMessage('SETTINGS_MENU_SETTINGS_TITLE') }}</span>
        </li>
        <li [ngClass]="{'active': settingsPage === 'plugins'}">
          <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
          <span>{{ i18n.getMessage('SETTINGS_MENU_PLUGINS_TITLE') }}</span>
        </li>
        <li [ngClass]="{'active': settingsPage === 'change log'}"
            (click)="goToPage('change log')">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <span>{{ i18n.getMessage('SETTINGS_MENU_CHANGE_LOG_TITLE') }}</span>
        </li>
        <li [ngClass]="{'active': settingsPage === 'about'}">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <span>{{ i18n.getMessage('SETTINGS_MENU_ABOUT_IDECOS_TITLE') }}</span>
        </li>
      </ul>
  </nav>
  <div class="contents">
    <div class="card" *ngIf="settingsPage === 'settings'">
      <h1>Settings</h1>
      <div class="settings-container">
        <h2>Debugger Mode</h2>
        <label class="switch settings-input" *ngIf="settings">
          <input type="checkbox"
                 [checked]="settings.debug"
                 (click)="toggleDebugger()">
          <span class="slider"></span>
        </label>
        <p>
          Boolean flag that denotes if the application is in debugging mode. 
          Enables getting access to the chrome dev tools from the app, and
          console logs the action events to the console.
        </p>
      </div>
      <div class="settings-container">
        <h2>Auto Save Interval</h2>
        <label class="settings-input" *ngIf="settings">
          <input [value]="settings.autoSaveInterval"
                 class="number-input"
                 type="number">
        </label>
        <p>
          Number that indicates the interval that the editor auto saves your
          unsaved actions. Number is in units of mins. Set to -1 to disable.
        </p>
      </div>
      <div class="settings-container">
        <h2>Scan Project At Start</h2>
        <label class="switch settings-input" *ngIf="settings">
          <input type="checkbox"
                 [checked]="settings.openAll"
                   (click)="toggleOpenAll()">
          <span class="slider"></span>
        </label>
        <p>
          Boolean flag that indicates that when the editor opens it should scan
          your entire project or just a directory at a time. Keeping this off will
          improve initial load of the application.
        </p>
      </div>
    </div>
    <div class="card" *ngIf="settingsPage === 'change log'">
      <h1>Change Log: v0.0.8 Pre-alpha</h1>
      <p>
        IDECOS is a full featured IDE for doing development on ChromeOS, although it will run on any platform that supports Chrome/Chromium apps.
      </p>
    </div>
  </div>
</div>