.container {
  background-color: #1E1E1E;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #394046;
  border-right: 1px solid black;
  color: #DADADA;
  overflow: auto;
  width: 220px;
}

nav ul li {
  display: inline-block;
  flex: 1;
  font-size: 16px;
  width: 180px;
  color: #ADAFB5;
  background-color: #5d5a5a;
  padding: 20px;
  border-bottom: 1px solid #1E1E1E;
}

nav ul .active, nav ul li:hover {
  background-color: #303030;
}