<div class="container">
  <nav>
      <ul>
        <li class="">
          <i class="fa fa-sliders" aria-hidden="true"></i>
          <span>{{ i18n.getMessage('SETTINGS_MENU_SETTINGS_TITLE') }}</span>
        </li>
        <li class="">
          <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
          <span>{{ i18n.getMessage('SETTINGS_MENU_PLUGINS_TITLE') }}</span>
        </li>
        <li class="active">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <span>{{ i18n.getMessage('SETTINGS_MENU_CHANGE_LOG_TITLE') }}</span>
        </li>
        <li class="">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <span>{{ i18n.getMessage('SETTINGS_MENU_ABOUT_IDECOS_TITLE') }}</span>
        </li>
      </ul>
  </nav>
  <div class="contents">
    <div class="card">
      <h1>Change Log: v0.0.8 Pre-alpha</h1>
      <p>
        IDECOS is a full featured IDE for doing development on ChromeOS, although it will run on any platform that supports Chrome/Chromium apps.
      </p>
    </div>
  </div>
</div>