<div class="container">
  <nav>
      <ul>
        <li class="active">
          <i class="fa fa-sliders" aria-hidden="true"></i>
          <span>Settings</span>
        </li>
        <li class="">
          <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
          <span>Plugins</span>
        </li>
        <li class="">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <span>Change Log</span>
        </li>
        <li class="">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <span>About IDECOS</span>
        </li>
      </ul>
  </nav>
  <div>

  </div>
</div>