.container {
  background-color: #1E1E1E;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

nav {
  background-color: #394046;
  border-right: 1px solid black;
  color: #DADADA;
  overflow: auto;
  width: 306px;
}

nav ul li {
  display: inline-block;
  flex: 1;
  font-size: 16px;
  width: calc(100% - 40px);
  color: #ADAFB5;
  background-color: #5d5a5a;
  padding: 20px;
  border-bottom: 1px solid #1E1E1E;
}

nav ul .active, nav ul li:hover {
  background-color: #303030;
}

.contents {
  width: 100%;
  padding: 20px;
}

.contents .card {
  background-color: #adafb5;
  padding: 10px;
  border-radius: 4px;
  color: #303030;
  margin-bottom: 25px;
}

.contents .card .settings-container {
  position: relative;
  width: 100%;
}

.contents .card .settings-container .settings-input {
  position: absolute;
  right: 10px;
  top: -5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  background-color: #ccc;
  transition: .4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  /*left: 4px;*/
  /*bottom: 4px;*/
  background-color: white;
  transition: .4s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.number-input {
  padding: 5px;
  width: 55px;
  border-radius: 10px;
  border: 0px;
  text-align: center;
  background-color: #ccc;
}